<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Request-Headers" value="X-Requested-With, accept, content-type" />
                <add name="Access-Control-Allow-Methods" value="GET, POST" />
    </customHeaders>
   </httpProtocol>
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness32" />
        </handlers>
 </system.webServer>
</configuration>